.idea
build
.klever
.gradle
.vscode
node_modules
out
bxp.iml

\.DS_Store

report-server/config/aws_config\.json

report-server/config/config\.json
report-server/output
build.js.map
release/temp
release/config\.json

frontend/app/version\.json

backend/src/main/resources/static/bower_components/

backend/backend\.iml

backend/local\.properties
discovery-server.iml
application-user-*.yaml
classpath-data.json
frontend/docker/bw1/app
aem.war

logs/klever\.log

logs/
